<!-- <div class="absolute bg-sunablue-100 inset-x-0 bottom-0 top-3 mx-auto ">
    <div class=" main m-auto  flex items-center justify-center relative">
        <div class="absolute top-0 bottom-0  md:right-20 md:left-20 bg-white z-10 flex items-center">
            <div class="w-full h-full">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="">
    <ng-content></ng-content>
</div> -->
<div class="w-full body xl:w-[50%] mx-auto bg-white">
    <div class="">
        <ng-content></ng-content>
    </div>
</div> 



            
        
