
        
    <!--  -->
<div class="">  
    
    <div class="relative xl:h-screen">
        
        <div class="hidden md:block">
            <app-header></app-header>
        </div>
        <app-white-full-height-wrapper class="w-full relative">
            <ng-content class=""></ng-content>
        </app-white-full-height-wrapper>
        <img src="assets/imgElsa/Filita_Derecha.png" alt=""
                 class="hidden xl:block absolute w-40 xl:w-36 2xl:w-58 img-filito bottom-0 ">
        <div class="hidden md:block xl:absolute xl:bottom-0 footer xl:w-full">
            <app-footer></app-footer>
        </div>
    </div>
</div>
