@media (min-width: 1680px) {
    .img-filito {
        left: 22% !important;
        bottom: 120px !important;
      }
}
@media (min-width: 1280px) and (max-width: 1300px) and (max-height: 720px) {
  .footer {
    position: relative;
  }
  .img-filito {
    top: 60%;
  }
}
