
        
    <!--  -->
<div class="">  
    
    <div class="relative xl:h-screen">
        
        <div class="hidden md:block">
            <app-header></app-header>
        </div>
        <app-white-full-height-wrapper class="w-full relative">
            <ng-content class=""></ng-content>
        </app-white-full-height-wrapper>
        <img src="assets/imgElsa/Filito.png" alt=""
                 class="hidden xl:block absolute w-40 xl:w-36 2xl:w-60 img-filito bottom-0 ">
        <div class="hidden md:block xl:absolute xl:bottom-0 footer xl:w-full">
            <app-footer></app-footer>
        </div>
    </div>
</div>

    




     <!-- <div class="">
        <app-header></app-header>
    </div>
<div class="h-[100%] container-body-movile flex items-center justify-center md:-my-16">
<app-white-full-height-wrapper>
        <ng-content class=""></ng-content>
      </app-white-full-height-wrapper>
</div>
    <div id="" class="">
        <div class="">
            <app-footer></app-footer>
        </div>
    </div>  -->
