.sunagray-triangle-left {
  position: absolute;
  bottom: -30px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid var(--sunagray-500);
  content: "";
  display: inline-block;
  vertical-align: middle;
  left: 30px;
}
.py-10 {
    padding-top: 0%;
    padding-bottom: 15%;
}
.scroll-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
}

@media (max-width: 768px) {
  .container-w {
    height: 100svh;
    justify-content: center;
    align-items: center;
  }
  .espaciadoLap {
    justify-content: center;
    align-items: center;
  }
}

.iconoo {
  position: relative;
  right: -20%;
  border-radius: 70%;
  padding: 2px 0px;
  animation: animations 1s ease 0s infinite;
}
// @media(min-width: 1280px){
//    .iconoo{
//    }
// }

.casita i {
  font-size: 25px;
}

.casitaa i {
  font-size: 22px;
}

.casitaa {
  background-color: #00377d;
  color: #ffffff;
  font-size: 25px;

  right: 1%;
  //top: -45%;
  bottom: 24px;
  border-radius: 50%;
  padding: 5px;
}

.casita {
  background-color: #00377d;
  color: #ffffff;
  font-size: 25px;
  right: 0%;
  //top: -45%;
  bottom: 24px;
  border-radius: 50%;
  padding: 5px;
  top: -30%;
}

@keyframes animations {
  0% {
    left: 0;
  }

  50% {
    left: 6px;
  }

  100% {
    left: 0;
  }
}

@media (max-width: 500px) {
  .iconoo {
    padding: 2px 4px;
  }

  .casitaa {
    background-color: #00377d;
    color: #ffffff;
    font-size: 15px;
    position: relative;
    right: 1%;
    //top: -45%;
    bottom: 24px;
    border-radius: 50%;
    padding: 6px 4px;
  }

  .casita i {
    font-size: 22px;
  }

  .casitaa i {
    font-size: 22px;
  }

  .casita {
    font-size: 25px;
    position: relative;
    right: 1%;
    border-radius: 50%;
    padding: 1px 4px;
  }
}

@media (max-width: 767px) {
  .p1 {
    font-size: 16px;
    line-height: 1.2;
  }
  .p2 {
    font-size: 10px;
    line-height: 1.2;
  }
}

@media (max-height: 740px) {
  .boton {
    width: 121px;
  }
}

@media (min-width: 1601px) {
  .p1 {
    font-size: 30px;
    line-height: 1.2;
  }
  .p2 {
    font-size: 17px;
    line-height: 1.2;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  .p1 {
    font-size: 20px;
    line-height: 1.2;
  }

  .res-1 {
    font-size: 15px;
  }

  .p2 {
    font-size: 15px;
    line-height: 1.2;
  }
}

@media (min-width: 500px) and (max-width: 999px) {
  .p1 {
    font-size: 12px;
    line-height: 1.2;
  }
  .p2 {
    font-size: 10px;
    line-height: 1.2;
  }
}

@media (max-width: 500px) {
  .tooltip {
    display: none;
  }
  .tooltip2 {
    display: none;
  }
  .tooltip3 {
    display: none;
  }
}
@media (min-width: 500px) {
  .volver {
    margin-top: 20%;
  }

  .tooltip {
    opacity: 0;
  }
  .tooltip2 {
    opacity: 0;
  }
  .tooltip3 {
    opacity: 0;
  }
  .iconoo:hover {
    .tooltip {
      top: 0%;
      right: 90%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    .tooltip2 {
      top: 0%;
      right: 90%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    .tooltip3 {
      top: 0%;
      right: 90%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
@media (max-width: 600px) and (min-width: 500px) {
  .btnDinamico {
    margin-top: 10%;
    margin-left: 17%;
  }
}

@media (min-width: 1280px) {
  .container-btnRegresar {
    right: 25vw !important;
    bottom: 8.5rem;
  }
  .btnDinamico {
    height: 40px !important;
  }
}

@media ((min-width: 1280px) and (max-width: 1366px)) and (max-height: 768px) {
  .textInicio {
    font-size: 10px;
  }
  .p1 {
    font-size: 15px;
  }
  .espaciadoLap {
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

