.sunagray-triangle-left {
  position: absolute;
  bottom: -30px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid var(--sunagray-500);
  content: "";
  display: inline-block;
  vertical-align: middle;
  left: 30px;
}
.py-10 {
    padding-top: 0%;
}
.cont {
  top: -15%;
}
.scroll-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
}

@media (max-width: 768px) {
  .container-w {
    height: 100svh;
    justify-content: center;
    align-items: center;
  }
  .espaciadoLap {
    justify-content: center;
    align-items: center;
  }
}

.sunared-triangle-right {
  position: absolute;
  bottom: -30px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 0px solid transparent;
  border-top: 30px solid var(--sunared-100);
  content: "";
  display: inline-block;
  vertical-align: middle;
  right: 30px;
}

.boton-container {
  margin-bottom: 20%;
}
.iconoo {
  position: relative;
  right: -20%;
  border-radius: 70%;
  padding: 2px 0px;
  animation: animations 1s ease 0s infinite;
}
// @media(min-width: 1280px){
//    .iconoo{
//    }
// }

.casita i {
  font-size: 25px;
}

.casitaa i {
  font-size: 22px;
}

.casita-containerr {
  position: relative;
  left: 92%;
  top: 18%;
}

.casitaa {
  background-color: #00377d;
  color: #ffffff;
  font-size: 25px;

  right: 1%;
  //top: -45%;
  bottom: 24px;
  border-radius: 50%;
  padding: 5px;
}
.casita-container {
  position: fixed;
  left: 72%;
  top: 70%;
  height: 150px;
  width: 5%;
}

.casita {
  background-color: #00377d;
  color: #ffffff;
  font-size: 25px;
  right: 0%;
  //top: -45%;
  bottom: 24px;
  border-radius: 50%;
  padding: 5px;
  top: -30%;
}

// .cont-option{
//     margin-top: -35%;
// }
// .cont-option2{
//     margin-top: -20%;
// }

.caja {
  margin-bottom: -90px;
}
.scroool {
  overflow-y: scroll;
}
@keyframes animations {
  0% {
    left: 0;
  }

  50% {
    left: 6px;
  }

  100% {
    left: 0;
  }
}

@media (max-width: 500px) {
  .iconoo {
    padding: 2px 4px;
  }

  .casita-containerr {
    position: relative;
    left: 78%;
    top: 2%;
  }

  .casitaa {
    background-color: #00377d;
    color: #ffffff;
    font-size: 15px;
    position: relative;
    right: 1%;
    //top: -45%;
    bottom: 24px;
    border-radius: 50%;
    padding: 6px 4px;
  }

  .casita i {
    font-size: 22px;
  }

  .casitaa i {
    font-size: 22px;
  }

  .casita-container {
    position: relative;
    left: 100.5%;
    top: 10%;
  }

  .casita {
    font-size: 25px;
    position: relative;
    right: 1%;
    border-radius: 50%;
    padding: 1px 4px;
  }
}

@media (max-width: 767px) {
  .text-input {
    margin-top: 20%;
  }

  .boton-container {
    margin-bottom: 15px;
  }

  .p1 {
    font-size: 16px;
    line-height: 1.2;
  }

  .res-1 {
    font-size: 10px;
  }

  .p2 {
    font-size: 10px;
    line-height: 1.2;
  }
}

@media (max-height: 740px) {
  .boton {
    width: 121px;
  }
}

@media (min-width: 1601px) {
  .cont-option2 {
    top: 5%;
  }
  .p1 {
    font-size: 30px;
    line-height: 1.2;
  }

  .res-1 {
    font-size: 15px;
  }

  .p2 {
    font-size: 17px;
    line-height: 1.2;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  .p1 {
    font-size: 20px;
    line-height: 1.2;
  }

  .res-1 {
    font-size: 15px;
  }

  .p2 {
    font-size: 15px;
    line-height: 1.2;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .cont {
    max-width: 50%;
    margin: auto;
  }

  .res-1 {
    font-size: 10px;
  }
}
@media (min-width: 500px) and (max-width: 999px) {
  .filita {
    //    display: none !important;
    left: -20%;
  }
  .p1 {
    font-size: 12px;
    line-height: 1.2;
  }
  .p2 {
    font-size: 10px;
    line-height: 1.2;
  }
}

@media (max-width: 500px) {
  .filita {
    //    display: none !important;
    left: -20%;
  }
  .cont-option {
    margin-top: 30%;
  }
  .scroool {
    overflow-y: scroll;
  }
}

@media (min-width: 1187px) {
  .casita-container {
    left: 70%;
  }
  .btn1 {
    left: 10%;
    width: 50%;
  }

  .btn2 {
    left: 30%;
    width: 52%;
  }
}

// @media(max-height: 620px) {
//     .next{
//         margin-top: -20%;
//     }
//     .inp{
//         margin-top: -15%;
//     }
//     .bienvenida{
//         margin-top: -10%;
//     }
//     .descarga{
//         margin-top: -50%;
//     }
//     .finalizaOrientacion{
//         margin-top: -50%;
//     }
//     .btn1 {

//         width: 80%;
//     }

//     .btn2 {

//         width: 70%;
//     }
//     .p1 {
//         font-size: 15px;
//         line-height: 1.2;
//     }

//     .res-1 {
//         font-size: 15px;
//     }

//     .p2 {
//         font-size: 10px;
//         line-height: 1.2;
//     }
// }
@media (max-width: 500px) {
  .tooltip {
    display: none;
  }
  .tooltip2 {
    display: none;
  }
  .tooltip3 {
    display: none;
  }
  .cont {
    top: 11%;
  }
}
@media (min-width: 500px) {
  .mensaje {
    margin-top: -5%;
  }
  .cont-option {
    top: -50%;
  }
  .volver {
    margin-top: 20%;
  }

  .tooltip {
    opacity: 0;
  }
  .tooltip2 {
    opacity: 0;
  }
  .tooltip3 {
    opacity: 0;
  }
  .descarga {
    //margin-top: -30%;
    margin-top: -45%;
  }
  .finalizaOrientacion {
    margin-top: -30%;
  }
  .iconoo:hover {
    .tooltip {
      top: 0%;
      right: 90%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    .tooltip2 {
      top: 0%;
      right: 90%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    .tooltip3 {
      top: 0%;
      right: 90%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
@media (max-height: 600px) and (max-width: 1024px) {
  .filita {
    //    display: none !important;
    top: 32%;
    left: -20%;
  }
}
@media (max-width: 767px) and (min-width: 360px) {
  .text-min {
    font-size: 13px;
  }
}
@media (max-width: 380px) and (min-width: 360px) {
  .text-min {
    font-size: 10px;
  }
}
@media (max-width: 600px) and (min-width: 500px) {
  .btnDinamico {
    margin-top: 10%;
    margin-left: 17%;
  }
  .btnsConformiad {
    left: 5%;
  }
}

@media (max-width: 380px) {
  .container-btnRegresar {
    bottom: 10% !important;
  }
}

@media (min-width: 1280px) {
  .container-btnRegresar {
    right: 25vw !important;
  }
  .btnDinamico {
    height: 40px !important;
  }
}
@media (min-width: 1024px) {
  .containerFrm {
    margin-left: 15%;
  }
}
@media ((min-width: 1280px) and (max-width: 1366px)) and (max-height: 768px) {
  .textInicio {
    font-size: 10px;
  }
  .p1 {
    font-size: 15px;
  }
  .espaciadoLap {
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1280px) and (max-height: 720px) {
  .footer {
    position: relative;
  }
}
