  <div class="py-2 footer-contianer w-full bg-sunablue-500">
    <div class="redes-container d-flex justify-content-center text-sm w-full h-full flex flex-nowrap">
        <div class="contacto w-full md:w-2/4 flex flex-col text-white px-4 py-2">
            <p class="font-bold text-sunagreen-500 text-xl md:text-2xl">Contáctanos</p>
            <a href="tel:(511)390-2800"><span class="font-bold">Central Telefónica:</span> (511) 390-2800</a>
            <p><span class="font-bold">Horario de atención:</span> Lunes a viernes de 8:30 a.m. a 4:30 p.m.</p>
            <p><span class="font-bold">Dirección:</span> Av. Salaverry N° 655 - 2do. piso, Jesús María - Lima</p>
            <a href="mailto:atencionalciudadano@sunafil.gob.pe"><span class="font-bold">Correo:</span> atencionalciudadano@sunafil.gob.pe</a>
        </div>
        <div class="footer-mobile d-flex justify-content-between">
            <div class="w-full sm:w-1/4 flex flex-col text-white px-4 py-2">
                <p class="font-bold text-sunagreen-500 text-xl md:text-2xl">Síguenos</p>
                <div class="flex mt-2 fs-2 items-center md:text-xl">
                    <a href="https://www.facebook.com/SunafilPeru?mibextid=ZbWKwL" target="_blank" class="mr-4 fa fa-facebook"></a>
                    <a href="https://twitter.com/sunafilperu" target="_blank" class="mr-4 fa fa-twitter"></a>
                    <a href="https://youtube.com/user/sunafil" target="_blank" class=""><img class="invert w-4 md:w-6" src="assets/icons/youtube.svg" /> </a>
                    <a href="https://instagram.com/sunafilperu?igshid=NTc4MTIwNjQ2YQ==" target="_blank" class="mr-4 fa fa-instagram"></a>
                    <a href="#" target="_blank" class="">
                        <img class="invert w-3 md:w-5" src="assets/icons/tiktok.svg" />
                    </a>
                    <a href="https://www.linkedin.com/company/superintendencia-nacional-de-fiscalizaci%C3%B3n-laboral---sunafil?trk=top_nav_home" target="_blank" class="mr-4 fa fa-linkedin"></a>
                </div>
            </div>
            <div class="pagina w-full sm:w-1/4 flex flex-col text-nowrap text-white py-2">
                <p class="font-bold text-sunagreen-500  text-xl md:text-2xl">Pagina web</p>
                <div class="flex items-center md:text-xl">
                    <a href="#" class="mt-2 fs-2">
                        <i class="bi bi-globe2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




            