<mat-card class="example-card">
    <mat-card-header class="mb-4 bg-sunablue-500 text-light">
        <mat-card-title class="mb-2">Aviso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
       <h1>Recuerda, el uso de este aplicativo no acarrea ningún tipo de acción de fiscalización.</h1>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial class="bg-sunared-500 mr-2 text-light btnMensaje" (click)="cerrar()">Cerrar</button>
    </mat-card-actions>
</mat-card>
