<ng-container *ngIf="visibleTC; else mostrarHome">
  <div fxLayout="row" fxLayout.lt-md="column" class="contenedor">
    
    <div class="contenedor-logo-izquierda" fxLayout="column" fxFlex="50%" fxFlex.xs="0%">
       <div fxFlexFill class="logoIzquierda">
        <img src="assets/imgElsa/portada_02.png"  alt="">
       </div>
    </div>
    <div fxLayout="column" fxFlexFill fxFlex="50%" class="descripcion items-center justify-end btnSiguiente" fxFlex.xs="100%" fxFlex.md="100%">
        <div fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="center center"
          fxLayout.xs="column">
          <button mat-raised-button color="primary" class="ingresar text-light" style="width: 150%; " (click)='ingresar()'>
            Ingresar
          </button>
        </div>
    </div>

  </div>
</ng-container>
<ng-template #mostrarHome>
<app-terminos-condiciones> </app-terminos-condiciones>
</ng-template>
